USE [PS_GameData]
GO
/****** Object:  Table [dbo].[CharacterColors]    Script Date: 6/4/2024 1:36:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterColors](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[CharID] [int] NULL,
	[ColorHex] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
